@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
* {
  transition: 0.2s;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
}
.box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: solid 1px gray;
  padding: 4%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.nav-btn-list {
  float: right;
  margin: 0.75%;
}

.nav-btn-list  button {
  width: auto;
  margin-right: 5px;
  border-radius: 5px;
}

#login-btn, #signUp-box {
  display: none;
}

.alt-link {
  text-align: center;
  cursor: pointer;
  color:#ccf;
  /*text-decoration: underline;*/
}

.alt-link:hover {
  color: #33f;
}

.alt-link-div {
  margin-top: 3%;
  text-align: center;
}

.errorMsg {
  color: #ff2a2a;
}

.loginSuccess {
  color: #0f0;
}